{% extends 'account/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-success">Reset Your password</h5>
                        {% if validlink %}
                            <p class="small text-muted">Please enter your new password twice:</p>

                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form }}
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-block">
                            </div>
                        </form>
                        {% else %}
                            <p>The password reset link was invalid , possibly because it has already brnn used please request a new password reset.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}