{% extends 'account/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="card">
                    <h5 class="text-success">Reset your password</h5>
                    <p class="small text-muted">We've emailed you instructions for setting your password.</p>
                    <p class="small text-muted">If you dont receve an email , please maek sure you've entered the address you recive</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}