{% extends 'owner/base.html' %}


{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="display-5 text-center text-success mb-4"><b><i>Add Job</i></b></h5>
                    <form action="{% url 'add_job' %}" method="post">
                        {% csrf_token %}
                        <table class="table">
                         {{ form|crispy }}
                        </table>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}